.vs
/build/msvc14/src/Inventor/Win/SoAny.cpp
/build/msvc14/src/Inventor/Win/SoAny.h
/build/msvc14/src/Inventor/Win/SoGuiComponentP.h
/build/msvc14/src/Inventor/Win/SoGuiGLWidgetP.h
/build/msvc14/src/Inventor/Win/SoGuiP.h
/build/msvc14/src/Inventor/Win/SoWin.h
/build/msvc14/src/Inventor/Win/SoWinColorEditor.h
/build/msvc14/src/Inventor/Win/SoWinCommon.cpp
/build/msvc14/src/Inventor/Win/SoWinComponent.h
/build/msvc14/src/Inventor/Win/SoWinComponentCommon.cpp
/build/msvc14/src/Inventor/Win/SoWinCursor.cpp
/build/msvc14/src/Inventor/Win/SoWinCursor.h
/build/msvc14/src/Inventor/Win/SoWinGLWidget.h
/build/msvc14/src/Inventor/Win/SoWinGLWidgetCommon.cpp
/build/msvc14/src/Inventor/Win/SoWinObject.cpp
/build/msvc14/src/Inventor/Win/SoWinObject.h
/build/msvc14/src/Inventor/Win/SoWinRenderArea.cpp
/build/msvc14/src/Inventor/Win/SoWinRenderArea.h
/build/msvc14/src/Inventor/Win/common/gl.h
/build/msvc14/src/Inventor/Win/devices/SoGuiDeviceP.h
/build/msvc14/src/Inventor/Win/devices/SoGuiInputFocusP.h
/build/msvc14/src/Inventor/Win/devices/SoGuiKeyboardP.h
/build/msvc14/src/Inventor/Win/devices/SoGuiMouseP.h
/build/msvc14/src/Inventor/Win/devices/SoWinDevice.h
/build/msvc14/src/Inventor/Win/devices/SoWinDeviceCommon.cpp
/build/msvc14/src/Inventor/Win/devices/SoWinInputFocus.h
/build/msvc14/src/Inventor/Win/devices/SoWinInputFocusCommon.cpp
/build/msvc14/src/Inventor/Win/devices/SoWinKeyboard.h
/build/msvc14/src/Inventor/Win/devices/SoWinKeyboardCommon.cpp
/build/msvc14/src/Inventor/Win/devices/SoWinMouse.h
/build/msvc14/src/Inventor/Win/devices/SoWinMouseCommon.cpp
/build/msvc14/src/Inventor/Win/devices/spwinput.h
/build/msvc14/src/Inventor/Win/devices/spwinput_win32.c
/build/msvc14/src/Inventor/Win/devices/spwinput_win32.h
/build/msvc14/src/Inventor/Win/devices/spwinput_x11.cpp
/build/msvc14/src/Inventor/Win/editors/SoWinColorEditor.cpp
/build/msvc14/src/Inventor/Win/editors/SoWinMaterialEditor.cpp
/build/msvc14/src/Inventor/Win/editors/SoWinMaterialEditor.h
/build/msvc14/src/Inventor/Win/engines/Engines.cpp
/build/msvc14/src/Inventor/Win/engines/Format.cpp
/build/msvc14/src/Inventor/Win/engines/RadioGroup.cpp
/build/msvc14/src/Inventor/Win/engines/SoGuiEngines.h
/build/msvc14/src/Inventor/Win/engines/SoGuiFormat.h
/build/msvc14/src/Inventor/Win/engines/SoGuiRadioGroup.h
/build/msvc14/src/Inventor/Win/nodes/ClickCounter.cpp
/build/msvc14/src/Inventor/Win/nodes/ColorEditor.cpp
/build/msvc14/src/Inventor/Win/nodes/Frame.cpp
/build/msvc14/src/Inventor/Win/nodes/Image.cpp
/build/msvc14/src/Inventor/Win/nodes/Label.cpp
/build/msvc14/src/Inventor/Win/nodes/MaterialEditor.cpp
/build/msvc14/src/Inventor/Win/nodes/Nodes.cpp
/build/msvc14/src/Inventor/Win/nodes/Pane.cpp
/build/msvc14/src/Inventor/Win/nodes/Position.cpp
/build/msvc14/src/Inventor/Win/nodes/RadioButton.cpp
/build/msvc14/src/Inventor/Win/nodes/SceneTexture2.cpp
/build/msvc14/src/Inventor/Win/nodes/Slider1.cpp
/build/msvc14/src/Inventor/Win/nodes/Slider2.cpp
/build/msvc14/src/Inventor/Win/nodes/SoGuiClickCounter.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiColorEditor.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiFrame.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiImage.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiLabel.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiMaterialEditor.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiNodes.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiPane.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiPosition.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiRadioButton.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiSceneTexture2.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiSlider1.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiSlider2.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiToggleButton.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiTranslation.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiViewpointWrapper.h
/build/msvc14/src/Inventor/Win/nodes/SoGuiViewportFix.h
/build/msvc14/src/Inventor/Win/nodes/ToggleButton.cpp
/build/msvc14/src/Inventor/Win/nodes/Translation.cpp
/build/msvc14/src/Inventor/Win/nodes/ViewpointWrapper.cpp
/build/msvc14/src/Inventor/Win/nodes/ViewportFix.cpp
/build/msvc14/src/Inventor/Win/viewers/SoGuiExaminerViewerP.h
/build/msvc14/src/Inventor/Win/viewers/SoGuiFullViewerP.h
/build/msvc14/src/Inventor/Win/viewers/SoGuiPlaneViewerP.h
/build/msvc14/src/Inventor/Win/viewers/SoGuiViewerP.h
/build/msvc14/src/Inventor/Win/viewers/SoWinConstrainedViewer.cpp
/build/msvc14/src/Inventor/Win/viewers/SoWinConstrainedViewer.h
/build/msvc14/src/Inventor/Win/viewers/SoWinExaminerViewer.cpp
/build/msvc14/src/Inventor/Win/viewers/SoWinExaminerViewer.h
/build/msvc14/src/Inventor/Win/viewers/SoWinFlyViewer.cpp
/build/msvc14/src/Inventor/Win/viewers/SoWinFlyViewer.h
/build/msvc14/src/Inventor/Win/viewers/SoWinFullViewer.cpp
/build/msvc14/src/Inventor/Win/viewers/SoWinFullViewer.h
/build/msvc14/src/Inventor/Win/viewers/SoWinPlaneViewer.cpp
/build/msvc14/src/Inventor/Win/viewers/SoWinPlaneViewer.h
/build/msvc14/src/Inventor/Win/viewers/SoWinViewer.cpp
/build/msvc14/src/Inventor/Win/viewers/SoWinViewer.h
/build/msvc14/src/Inventor/Win/widgets/SoAnyThumbWheel.cpp
/build/msvc14/src/Inventor/Win/widgets/SoAnyThumbWheel.h
/build/msvc14/src/Inventor/Win/widgets/SoWinPopupMenu.cpp
/build/msvc14/src/Inventor/Win/widgets/SoWinPopupMenu.h
/build/msvc14/*.filters
/build/msvc14/sowin1d.dll
